<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   
    <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="RefactorRefs"
            nameFilter="*.iTrace"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="iTrace.ui.actions.RefactorRefs_action"
               icon="icons/refreshRefs.png"
               id="RefactorRefs"
               label="Refactor Refs (iTrace)">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ToSQL"
            nameFilter="*.iTrace"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="iTrace.ui.actions.ToSQL_action"
               icon="icons/toSQL.png"
               id="ToSQL"
               label="iTrace Model to SQL File (iTrace)">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="AddTraceability"
            nameFilter="*.atl"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="iTrace.ui.actions.iTraceAdder_action"
               icon="icons/addTraceability2.png"
               id="AddTraceability"
               label="Add Traceability (iTrace)">
         </action>
      </objectContribution>
   </extension>
    <extension
          point="org.eclipse.debug.core.launchConfigurationTypes">
       <launchConfigurationType
             delegate="iTrace.ui.transformations.launchs.MofScriptTrace.MofScriptTrace_LaunchConfigurationDelegate"
             id="iTrace.ui.transformations.MofScriptTrace_LCT"
             modes="run, debug"
             name="Transformations to iTrace"
             public="true">
       </launchConfigurationType>
       <launchConfigurationType
             delegate="iTrace.ui.transformations.launchs.MXML2KDM.MXML2KDM_LaunchConfigurationDelegate"
             id="iTrace.ui.transformations.MXML2KDM_LCT"
             modes="run, debug"
             name="Transformations to iTrace"
             public="true">
       </launchConfigurationType>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             configTypeID="iTrace.ui.transformations.MofScriptTrace_LCT"
             icon="icons/iTraceModel.png"
             id="iTrace.ui.transformations.MofScriptTrace_LCTI">
       </launchConfigurationTypeImage>
       <launchConfigurationTypeImage
             configTypeID="iTrace.ui.transformations.MXML2KDM_LCT"
             icon="icons/iTraceModel.png"
             id="iTrace.ui.transformations.MXML2KDM_LCTI">
       </launchConfigurationTypeImage>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTabGroups">
       <launchConfigurationTabGroup
             class="iTrace.ui.transformations.launchs.MofScriptTrace.MofScriptTrace_LaunchConfigurationTabGroup"
             id="iTrace.ui.transformations.MofScriptTrace_LCTG"
             type="iTrace.ui.transformations.MofScriptTrace_LCT">
       </launchConfigurationTabGroup>
       <launchConfigurationTabGroup
             class="iTrace.ui.transformations.launchs.MXML2KDM.MXML2KDM_LaunchConfigurationTabGroup"
             id="iTrace.ui.transformations.MXML2KDM_LCTG"
             type="iTrace.ui.transformations.MXML2KDM_LCT">
       </launchConfigurationTabGroup>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchShortcuts">
       <shortcut
             class="iTrace.ui.transformations.launchs.MofScriptTrace.MofScriptTrace_Shortcut"
             icon="icons/ok.png"
             id="iTrace.ui.transformations.launch.MofScriptTrace_Shortcut"
             label="MofScript -&gt; iTrace"
             modes="run, debug">
             <configurationType
               id="iTrace.ui.transformations.MofScriptTrace_LCT">
         	</configurationType>
         <contextualLaunch>
            <contextLabel
                  label="MofScript Trace -&gt; iTrace"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.traceabilitymodel">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
       </shortcut>
       <shortcut
             class="iTrace.ui.transformations.launchs.MofScriptTrace.MXML2KDM_Shortcut"
             icon="icons/ok.png"
             id="iTrace.ui.transformations.launch.MXML2KDM_Shortcut"
             label="MXML2KDM -&gt; iTrace"
             modes="run, debug">
          <configurationType
                id="iTrace.ui.transformations.MofScriptTrace_LCT">
          </configurationType>
          <contextualLaunch>
             <contextLabel
                   label="MofScript Trace -&gt; iTrace"
                   mode="run">
             </contextLabel>
             <enablement>
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <instanceof
                            value="org.eclipse.core.resources.IFile">
                      </instanceof>
                      <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.traceabilitymodel">
                      </test>
                   </iterate>
                </with>
             </enablement>
          </contextualLaunch>
       </shortcut>
    </extension>

</plugin>
